<footer class="footer">
  <div class="footer__content">
    <div class="footer__logo">
      <img src="assets/logo.webp" alt="Logo de Jean-Luc Laffuge" />
      <h3 class="footer__title">Cinq de cœur</h3>
    </div>

    <div class="footer__content__captcha">
      @if (!captchaVerified && isBrowser) {
        <h4 class="footer__subtitle">Contact</h4>
        <re-captcha
          [siteKey]="siteConfig['RECAPTCHA_SITE_KEY_TEST']"
          (resolved)="onCaptchaResolved($event)"
        >
        </re-captcha>
      }

      @if (captchaVerified) {
        <div class="footer__contact">
          <h4 class="footer__subtitle">Contact</h4>
          <a
            class="footer__text"
            [href]="
              'https://www.google.com/maps/search/' +
              encodeAddress(contactDetails.address)
            "
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ contactDetails.address }}
          </a>
          <a
            class="footer__text"
            [href]="'tel:' + decodeFromBase64(contactDetails.phone)"
          >
            {{ decodeFromBase64(contactDetails.phone) }}
          </a>
          <a
            class="footer__text"
            [href]="'mailto:' + decodeFromBase64(contactDetails.email)"
          >
            {{ decodeFromBase64(contactDetails.email) }}
          </a>
        </div>
      }
    </div>

    <div class="footer__links">
      <div class="footer__links-group">
        <h4 class="footer__subtitle">Social</h4>
        <ul>
          @for (socialLink of socialLinks; track $index) {
            <li class="footer__links-item social">
              <a
                [href]="socialLink.url"
                target="_blank"
                rel="noopener noreferrer"
                >{{ socialLink.label }}</a
              >
            </li>
          }
        </ul>
      </div>
      <div class="footer__links-group">
        <h4 class="footer__subtitle">Réglementations</h4>
        <ul>
          @for (otherLink of otherLinks; track $index) {
            <li class="footer__links-item">
              <a [routerLink]="otherLink.url">{{ otherLink.label }}</a>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
  <hr />
  <div class="footer__credits">
    <p>© {{ currentYear }} Jean-Luc Laffuge - Tous droits réservés.</p>
  </div>
</footer>
